# node
node_modules

# babel
lib

# flow
flow-typed/npm

# jest
coverage

# add checking other configs
!.*.js

# ignore for @cat-org/eslint-config-cat
packages/eslint-config-cat/src/__tests__/__ignore__
