# default
*.swp
*.log
.DS_Store

# node
node_modules

# babel
lib
babel.config.js

# eslint
.eslintignore
.eslintrc.js
.eslintcache

# prettier
.prettierrc.js

# flow
**/flow-typed/npm
**/.flowconfig
!./.flowconfig

# lint-staged
.lintstagedrc.js

# jest
coverage

# relay
__generated__

# lerna-changelog
.changelog

# configs
.execrc.js
